@model OnlineQuiz.Model.Entity.BasicExamResultDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BasicExamResultDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BasicExamResult.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicExamResult.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuesionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuesionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultAswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultAswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
