@model OnlineQuiz.Model.Entity.BasicExamResult

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BasicExamResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExaminationQuestion.QuestionContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaminationQuestion.QuestionContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamPeriod.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamPeriod.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartEndTime.TimePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartEndTime.TimePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrueQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrueQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
