@model IEnumerable<OnlineQuiz.Model.Entity.BasicExamResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExaminationQuestion.QuestionContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamPeriod.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartEndTime.TimePeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrueQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationQuestion.QuestionContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamPeriod.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartEndTime.TimePeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrueQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
