@model OnlineQuiz.Common.ViewModel.ExaminationViewModel
@{
    int b = 1;
}


@foreach (var item in Model.ExaminationQuestions)
{
    <div class="question-item" data-id="@item.QuestionID" id="q_@item.QuestionID">
        <p><b>Câu @b: @item.QuestionContent</b></p>
        <ul>
            <li>
                <div class="form-check">
                    <label class="form-check-label pointer">
                        <input data-qnav="q_@item.QuestionID" type="radio" @(item.MyAnswer == "A" ? "checked=checked" : "") class="form-check-input" value="A_@(item.QuestionID)" name="@(item.QuestionID)_answer"> @item.AAnswer
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <label class="form-check-label pointer">
                        <input data-qnav="q_@item.QuestionID" type="radio" class="form-check-input" @(item.MyAnswer == "B" ? "checked=checked" : "") value="B_@(item.QuestionID)" name="@(item.QuestionID)_answer"> @item.BAnswer
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <label class="form-check-label pointer">
                        <input data-qnav="q_@item.QuestionID" type="radio" class="form-check-input" @(item.MyAnswer == "C" ? "checked=checked" : "") value="C_@(item.QuestionID)" name="@(item.QuestionID)_answer">@item.CAnswer
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <label class="form-check-label pointer">
                        <input data-qnav="q_@item.QuestionID" type="radio" class="form-check-input" @(item.MyAnswer == "D" ? "checked=checked" : "") value="D_@(item.QuestionID)" name="@(item.QuestionID)_answer">@item.DAnswer
                    </label>
                </div>
            </li>
        </ul>
    </div>
    {
        b++;
    }
}

<div class="footer-nav">
    <div class="row">
        <div class="col-md-6">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" id="complete" data-page="0" href="#">Nộp bài</a></li>
            </ul>
        </div>
    </div>
</div>
