@model OnlineQuiz.Common.ViewModel.ExaminationViewModel
@{
    ViewBag.Title = Model.Examinee.InformationTechnologySkillName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="ExamResultID" value="@Model.ExamResult.ID" />

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 test transparent">
            <div class="card-header transparent">
                <strong>Hội đồng thi: Trường ĐH Đông Á</strong>
                <strong class="ml-15" id="credit">Tên chứng chỉ: @Model.Examinee.InformationTechnologySkillName</strong>
                @if (!string.IsNullOrEmpty(Model.Examinee.QuestionModuleName))
                {
                    <strong class="ml-15" id="moduleName">Tên module: @Model.Examinee.QuestionModuleName</strong>
                }

                <strong class="ml-15" id="idExaminee">Mã thí sinh: <span>@Model.Examinee.IDExaminee</span></strong>
                <strong class="ml-15" id="fullName">Họ tên: @(Model.Examinee.LastName + " " + Model.Examinee.FirstName)</strong>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 mb-10">
                    <p>Thời gian làm bài</p>
                    <p class="time box-shadow " id="@(Model.ExamResult.Status ? "" : "duration")">@(Model.ExamResult.Duration < 10 ? "0"+ Model.ExamResult.Duration + ":00" : Model.ExamResult.Duration + ":00")  </p>
                </div>

                <div class="col-md-10">
                    <div id="content">
                        @if (Model.ExamResult.Status)
                        {
                            <div class="alert alert-success">Bạn đã hoàn tất bài thi này</div>
                        }
                        else
                        {
                            @Html.Partial("_Index", Model)
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/Client/js/examination.js"></script>
}
