@model OnlineQuiz.WebApp.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- box link -->
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" >
        <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" action="" method="post">
                <h5 class="text-center text-default"><b>Đăng nhập</b></h5>
                <hr>
                <div class="form-group">
                    <label for="username" class="text-default"><b>Ký danh</b></label><br>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="text-default"><b>Mật khẩu</b></label><br>
                    <input type="text" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="remember-me" class="text-default pointer"><span><input id="remember-me" name="remember-me" type="checkbox"></span><span> <b>Nhớ tài khoản</b></span></label><br>
                    <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập">
                </div>
                <div class="form-group">
                    <a href="#" class="card-link">Bạn quên kí danh hoặc mật khẩu?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end box link -->
@*<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h5>Thí sinh lưu ý:</h5>
            <hr style="width: 150px; float: left; margin: 5px 0px;" />
            <p>
                <br />
                @{int i = 1; }

                @foreach (var item in Model.Notes)
                {
                <p>@i. @item.Value</p>
                i++;
            }
                </p>
            </div>
            <div class="col-md-4">
                <h5>Thông tin tài khoản</h5>
                <hr />
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessage("invalid_account", new { @class = "text-danger mb-10" })
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.ExamineeId, new { @class = "form-control", placeholder = "ID thí sinh" })
                        @Html.ValidationMessageFor(x => x.ExamineeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Đăng Nhập</button>
                }
            </div>
        </div>
    </div>*@

