@model OnlineQuiz.Model.Entity.ExaminationModule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExaminationModule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Examination.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examination.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionModule.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionModule.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExellentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExellentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VeryGoodNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeryGoodNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
