@model IEnumerable<OnlineQuiz.Model.Entity.ExaminationModule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Examination.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionModule.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExellentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeryGoodNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Examination.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionModule.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExellentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeryGoodNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
