@model IEnumerable<OnlineQuiz.Model.Entity.Examination>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamPeriod.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExellentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeryGoodNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExamPeriod.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExellentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeryGoodNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
